.title__modal {
  position: relative;
  color: white;
  height: 1080px;
  border-radius: 12px;
}

.play__title {
  position: absolute;

  color: black;
  width: 140px;
  height: 32px;
  border-radius: 3px;
  font-family: netflixBold;
  font-size: 16px;
  background-color: white;
  left: 50px;
  top: 420px;
}

.main__image {
  border-radius: 12px;
  width: 980px;
  height: 480px;
  object-fit: cover;
}
.container1 {
  margin-left: 48px;
  display: flex;
  flex-direction: row;
}
.year,
.age,
.duration {
  margin-right: var(--space-medium);
  font-size: 18px;
}
.age {
  text-align: center;
  height: 28px;
  width: 50px;
  border: 0.5px solid rgba(104, 104, 104, 0.8);
}
.container2 {
  width: 420px;
  margin-left: 48px;
  margin-top: 24px;
}
.container3 {
  display: flex;
  flex-direction: column;
  width: 360px;
  margin-left: var(--space-ultra);
}
.genre,
.theme {
  margin-top: var(--space-big);
}
.detail {
  display: inline;
  color: rgba(104, 104, 104, 0.8);
}
.detail2 {
  display: inline;
}
.description__all {
  display: flex;
  flex-direction: column;
}

.title__info {
  font-family: netflixLight;
  display: flex;
  flex-direction: row;
  margin-top: var(--space-big);
}

.more {
  font-family: netflixRegular;
  font-weight: 900;
  color: white;
  margin-left: 48px;
  margin-top: 120px;
  margin-bottom: var(--space-big);
}
.extra__images {
  display: flex;
  flex-direction: row;
}
.extra__images img {
  margin-left: 48px;
  border-radius: 3px;
}
